body{
  background-color: lightgray;
}
.container{
  width: 500px;
  height: 500px;
  /*position:relative;*/
  margin: 0 auto;
}

.square{
  border: 1px red solid;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  display: inline-block;
}
button{
  text-align: center;
}
